.citypage {
    max-width: 492px;
    width: 60%;
    position: relative;
    margin: 0 auto 30px;
    padding: 1px 0 30px;
    text-align: center;
    background: #f7b45d;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.citypage p:nth-child(3) {
    position: relative;
    bottom: 7px;
}

.addblock {
    position: relative;
    bottom: 5px;
    margin-top: 10px;
}

.addblock button:last-child {
    background: #d3ffc1;
}

.table-cover {
    overflow-y: auto;
    width: 100%;
}

.f-table {
    width: 250px;
    margin: 0 auto 20px;
    display: table;
    border-collapse: collapse;
}

.f-tr {
    display: table-row;
    border-bottom: 2px solid black;
}

.f-td {
    display: table-cell;
    text-align: center;
    border: none;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.f-th {
    border-right: 1px solid black;
    font-weight: bold;
    font-size: 17px;
}

.f-th:last-child {
    border-right: none;
}

.f-tde {
    display: table-cell;
    text-align: center;
    border-bottom: 2px solid #f7b45d;
    padding-top: 8px;
    padding-bottom: 10px;
}

.cityinput {
    margin: 0 10px;
}

.delbox {   
    position: static;
    margin-top: 5px;
}